<div class="lead well">
	<div class="media">
		<div class="media-left">
			<a href="#">
				<img class="media-object" src="..." alt="...">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">Media heading</h4>
			...
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8 col-sm-offset-2">
		<div>
			<button type="button" data-toggle="modal" data-target="#new-answer-modal" class="btn btn-success button-sm">Submit a new answer</button>
		</div>

		<%= render 'new_answer_form' %>

		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="..." alt="...">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Media heading</h4>
				...
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="..." alt="...">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Media heading</h4>
				...
			</div>
		</div>
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="..." alt="...">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">Media heading</h4>
				...
			</div>
		</div>
	</div>
</div>